.headerContainer {
  height: 9rem;
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.headerLogo {
  margin: 0 auto 0;
  width: 720px;

  img {
    height: 25px;
    width: 238px;
  }
}
